.blog-leeg-verticale-foto-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.blog-leeg-verticale-foto-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 700px;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-quadruple);
  flex-direction: column;
}
.blog-leeg-verticale-foto-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 700px;
  align-items: flex-start;
  margin-bottom: 0px;
  flex-direction: row;
}
.blog-leeg-verticale-foto-foto {
  float: left;
  width: 35%;
  aspect-ratio: 3/4;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.blog-leeg-verticale-foto-container3 {
  display: inline-block;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.blog-leeg-verticale-foto-titel {
  width: 100%;
  display: inline-block;
  font-size: 2rem;
  font-family: Arial;
  font-weight: 500;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.blog-leeg-verticale-foto-datum {
  color: var(--dl-color-zandkleuren-9b9388);
  font-size: 14px;
  align-self: center;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.55;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.blog-leeg-verticale-foto-text02 {
  display: inline;
}
.blog-leeg-verticale-foto-text09 {
  display: inline;
}
.blog-leeg-verticale-foto-andere-blogs {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 48px;
  flex-direction: column;
  background-color: var(--dl-color-zandkleuren-f5eeeb);
}
.blog-leeg-verticale-foto-lees-ook {
  padding-left: 0px;
}
.blog-leeg-verticale-foto-laatste-3-blogposts {
  width: 90%;
  display: flex;
  padding: 48px;
  max-width: 100%;
  justify-content: space-around;
}
.blog-leeg-verticale-foto-navlink {
  display: contents;
}
.blog-leeg-verticale-foto-component1 {
  text-decoration: none;
}
.blog-leeg-verticale-foto-navlink1 {
  display: contents;
}
.blog-leeg-verticale-foto-component2 {
  text-decoration: none;
}
.blog-leeg-verticale-foto-navlink2 {
  display: contents;
}
.blog-leeg-verticale-foto-component3 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .blog-leeg-verticale-foto-laatste-3-blogposts {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .blog-leeg-verticale-foto-container1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .blog-leeg-verticale-foto-container2 {
    align-items: center;
    flex-direction: column;
  }
  .blog-leeg-verticale-foto-foto {
    width: 100%;
    align-self: flex-start;
    border-radius: Radius 4;
  }
  .blog-leeg-verticale-foto-text02 {
    padding-top: var(--dl-space-space-unit);
    text-transform: capitalize;
  }
  .blog-leeg-verticale-foto-laatste-3-blogposts {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .blog-leeg-verticale-foto-container1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .blog-leeg-verticale-foto-container2 {
    align-items: center;
    flex-direction: column;
  }
  .blog-leeg-verticale-foto-foto {
    width: 100%;
    align-self: flex-start;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .blog-leeg-verticale-foto-datum {
    color: var(--dl-color-zandkleuren-9b9388);
    font-size: 14px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
  }
  .blog-leeg-verticale-foto-laatste-3-blogposts {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
