.button-solid-container {
  display: flex;
  position: relative;
}
.button-solid-button {
  color: #FFFFFF;
  border: none;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-100);
}
.button-solid-root-class-name {
  margin-top: var(--dl-space-space-unit);
}
.button-solid-root-class-name1 {
  margin-left: 0px;
}
.button-solid-root-class-name2 {
  margin-left: 0px;
}
.button-solid-root-class-name3 {
  margin-left: 0px;
}
.button-solid-root-class-name4 {
  margin-left: 0px;
}
.button-solid-root-class-name5 {
  margin-left: 0px;
}
.button-solid-root-class-name6 {
  margin-left: 0px;
}
.button-solid-root-class-name7 {
  margin-left: 0px;
}
.button-solid-root-class-name8 {
  margin-left: 0px;
}


